@model RnD.KashPlugSample.ViewModels.AccountViewModel
<div id="detailsPage" class="detailsPage">
    <div class="row-fluid">
        <div class="control-group">
            <label class="control-label" for="AccountName">
                Account Name:</label>
            <div class="controls">
                @Html.EditorFor(model => model.AccountName)
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div id="buttonZone" class="pull-right buttonZone">
            <button type="button" class="btn btn-warning" id="btnCancel" name="btnCancel" onclick="CloseAppCommonWindow()">
                Cancel</button>
        </div>
    </div>
</div>
