@{
    ViewBag.Title = "Account Index";
}
<div id="indexPage">
    <div class="span12">
        <a href="/Account/Add" class="btn btn-primary " id="btnAddAccount"><span class="glyphicon glyphicon-plus">
        </span>&nbsp;&nbsp;Add</a>
    </div>
    <br />
    <div class="span12">
        <div id="gridZone">
            <div id="gridAccount">
            </div>
        </div>
        <div id="popUpZone">
            <div id="addAccountDialog" title="Add Account">
            </div>
            <div id="editAccountDialog" title="Edit Account">
            </div>
            <div id="deleteAccountDialog" title="Delete Account">
            </div>
            <div id="detailsAccountDailog" title="Details Account">
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/App/account-jq.js")" type="text/javascript"></script>
